@using System.Collections.ObjectModel
@model Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Shop: Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout out now</h2>
Please enter your details
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div>Name: @Html.EditorFor(x => x.Name)</div>
    <h3>Address</h3>
    <div>Line 1: @Html.EditorFor(x => x.Line1)</div>
    <div>Line 2: @Html.EditorFor(x => x.Line2)</div>
    <div>Line 3: @Html.EditorFor(x => x.Line3)</div>
    <div>City: @Html.EditorFor(x => x.City)</div>
    <div>Zip: @Html.EditorFor(x => x.Zip)</div>
    <div>Country: @Html.EditorFor(x => x.Country)</div>
    <h3>Options</h3>
    <div>
        Postage: @Html.ListBoxFor(x => x.Postage, new Collection<SelectListItem>
                 {
                     new SelectListItem { Selected = true, Text = "Post", Value = "Post" },
                     new SelectListItem { Text = "Courier", Value = "Courier" }
                 })
    </div>
    <p align="center">
        <input class="actionButtons" type="submit" value="Complete order" />
    </p>
    
}