@using System.Globalization
@model WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Shop: Your Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    table {
        width: 90%;
        text-align: center;
    }
</style>
<h2>Your Cart</h2>
<table>
    <thead>
        <tr>
            <th align="center">Quantity</th>
            <th align="left">Item</th>
            <th align="right">Price</th>
            <th align="right">SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td align="center">
                    @line.Quantity
                </td>
                <td align="left">@line.Product.Name</td>
                <td align="right">@line.Product.Price.ToString("C")</td>
                <td align="right">@((line.Quantity * line.Product.Price).ToString("C"))</td>
                <td>
                   @using (Html.BeginForm("ChangeQuantityInCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <div id="changeQyantity">
                            @Html.Editor("Quantity")
                        </div>
                        <input class="actionButtons" type="submit" value="ChangeQuantity" />
                    }
                     @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="actionButtons" type="submit" value="Remove" />
                    }
                    
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td align="right">@Model.Cart.ComputeTotalValue().ToString("C")</td>
        </tr>
    </tfoot>
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout")
</p>
