@model WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Admin: Edit" + @Model.Product.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit @Model.Product.Name</h2>
@using (Html.BeginForm("Edit", "Admin"))
{
    @Html.ValidationSummary()
    <div>Id: @Html.EditorFor(x => x.Product.ProductID)</div>
    <div>Name: @Html.EditorFor(x => x.Product.Name)</div>
    <div>Descriprion:@Html.EditorFor(x => x.ProductDescription.Description) </div>
    <div>Category: @Html.EditorFor(x => x.ProductCategory.Name)</div>
    <div>StandardCost: @Html.EditorFor(x => x.Product.StandardCost)</div>
    <div>ListPrice: @Html.EditorFor(x => x.Product.ListPrice)</div>
    @Html.Hidden("Product.ModifiedDate", DateTime.Now)
    @Html.Hidden("Product.SellStartDate", DateTime.Now)
    @Html.Hidden("ProductCategory.ModifiedDate", DateTime.Now)
    @Html.Hidden("ProductDescription.ModifiedDate", DateTime.Now)
    @Html.Hidden("ProductCategory.ProductID",Model.Product.ProductID)
    @Html.Hidden("ProductDescription.ProductID",Model.Product.ProductID)

    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to list", "Index")
}