@using Domain.Entities
@model List<Domain.Entities.ReportUserModel>
@{
    ViewBag.Title = "StatisticsUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewBag.Title = "StatisticsUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@TempData["User"]</h2>
@foreach (var r in Model)
{
    <br />
    <br />
    <br />
    if (r.Status == 0)
    {
        <text>not paid<br/> </text>
    }
    if (r.Status ==1)
    {
        <text>Paid <br /> </text>
    }
    <text>Order date @r.OrderDate
    <br />
    Sub Total @r.SubTotal</text>
    if (r.Address != null)
    {
    <h4>Address</h4>
    <text>
    Address: @r.Address.AddressLine1
    <br />
    City:  @r.Address.City<br />
    Country region:  @r.Address.CountryRegion<br />
    Postal code: @r.Address.PostalCode
    <br />
    Ship method:  @r.ShipMethod<br />
    </text>
    }

    <h4>Contents</h4>
    <table class="Grid">
        <tr>
            <th>Product</th>
            <th>Number</th>
            <th>Price</th>
        </tr>
        @foreach (var p in r.Products)
        {
            <tr>
                <td>@Html.DisplayFor(x => p.Name)</td>
                <td>@Html.DisplayFor(x => p.NumberOsSales)</td>
                <td>@Html.DisplayFor(x => p.Amount)</td>
            </tr>
        }

    </table>
}

