@using Domain.Entities
@model List<Domain.Entities.ReportProductModel>
@{
    ViewBag.Title = "StatisticsProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>@TempData["Product"]</h2>

<table class="Grid">
    <tr>
        <th>Product</th>
        <th>Number</th>
        <th>Price</th>
    </tr>
    @foreach (var report in Model)
    {<tr>
        <td>@Html.DisplayFor(x => report.DateTime)</td>
        <td>@Html.DisplayFor(x => report.NumberOsSales)</td>
        <td>@Html.DisplayFor(x => report.Amount)</td>
    </tr>
    }
</table>
<h3>@Html.ActionLink("Return", "Index")
</h3>
