@using WebUI.HtmlHelpers
@model WebUI.Models.ProductsListViewModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    
    <p>
        Name: @Html.TextBox("SearchString", ViewBag.CurrentFilterName as string)
        MinCost: @Html.TextBox("MinCost", ViewBag.CurrentFilterMinCost as string)
        MaxCost: @Html.TextBox("MaxCost", ViewBag.CurrentFilterMaxCost as string)
        <input type="submit" value="Search" />
    </p> 
}


<span style="padding: 0 30px;">
    @Html.ActionLink("Sort by price", "List", new { sortOrder = ViewBag.CostSortParam,
    currentFilterName = ViewBag.CurrentFilterName, currentFilterMinCost=ViewBag.CurrentFilterMinCost,
    currentFilterMaxCost=ViewBag.CurrentFilterMaxCost,
    category = Model.CurrentCategory, page = Model.PagingInfo.CurrentPage })
</span>
@Html.ActionLink("Sort by name", "List", new { sortOrder = ViewBag.NameSortParam,
    currentFilterName = ViewBag.CurrentFilterName,currentFilterMinCost=ViewBag.CurrentFilterMinCost,
    currentFilterMaxCost=ViewBag.CurrentFilterMaxCost, category = Model.CurrentCategory,
    page = Model.PagingInfo.CurrentPage })

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);

}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { sortOrder = ViewBag.CurrentSort,
    currentFilterName = ViewBag.CurrentFilterName, 
    currentFilterMinCost=ViewBag.CurrentFilterMinCost,
    currentFilterMaxCost=ViewBag.CurrentFilterMaxCost,
    page = x, category = Model.CurrentCategory }))
</div>
